<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>GamePerf</vendor>
  <vendor_url>https://gameperf.example.com</vendor_url>

  <action id="org.gameperf.daemon.manage-performance">
    <description>Manage gaming performance settings</description>
    <message>Authentication is required to adjust performance settings</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.gameperf.daemon.control-hardware">
    <description>Control hardware settings</description>
    <message>Authentication is required to control hardware (fan, power limits, etc.)</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
